ipykernel
numpy
pandas
pydantic
langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
faiss-cpu
langchain_chroma
beautifulsoup4
streamlit
fastapi
uvicorn
langserve[all]